---
layout: base
---


<div>
    <h1 class="page-heading">Introduction</h1>
    <p>In the ever-evolving landscape of Generative AI, we witness exponential growth, notably in
        topics like
        large-language models, text-to-image, video generation, multimodal reasoning, drug discovery, robotics, and
        beyond. Applied research thrives, yet
        it is imperative to
        spotlight foundational works.</p>

    <p>Introducing the "Frontier Topics in Generative AI" Seminar Series.
        This series focuses on an in-depth exploration of grounded research in GenAI, including vision, language, and
        other pivotal areas.
        Join us in unraveling the core principles propelling innovation, shaping the future of this dynamic field.</p>
</div>

<div>
    <h1 class="page-heading">Registration</h1>
    <p>To attend the seminar please register at: <a
            href="https://asu.zoom.us/meeting/register/tZ0scu2gqzkqH9AlBRhw4TBQBlU2a4ZsC_ZV">https://asu.zoom.us/meeting/register/tZ0scu2gqzkqH9AlBRhw4TBQBlU2a4ZsC_ZV</a>
    </p>
</div>

<div>
    <br>
    <h1 class="page-heading" style="text-align: center;">Schedule</h1>
    <hr>
    <br>

    {% assign talks = site.talks %}
    {%- for talk in talks -%}

    <div class="footer-col-wrapper" style="{{talk.style}}">
        <div class="footer-col footer-col-1">
            <img src="{{talk.photo}}" width="128" height="128">
            <br>
            <p>
                <br>
                <b>Date:</b> {{ talk.Date }}
                <br>
                <b>Time:</b> {{ talk.Time }}
                <br>
                <b>Location:</b> {{ talk.Location }}
                <br>
                <b>Zoom: </b> <a href="{{ talk.ZoomLink }}">Link</a>
            </p>
            </p>
            <br>
            <img src="{{talk.aff_photo}}" width="128">
        </div>

        <div class="footer-col footer-col-3" style="width:60%">
            <b style="font-size: 21px;"><a href="{{ talk.Profile }}">{{ talk.Name }}</a></b></br>
            <b>{{ talk.Affilication }}</b></br>

            <p><b>Title: </b>{{ talk.Title }}</p>
            <p><b>Abstract: </b>{{ talk.Details }}</p>
        </div>



    </div>
    <hr>
    <br>

    {%- endfor -%}


</div>

<div>
    <h1 class="page-heading">Organizers</h1>

    {% assign orgs = site.orgs %}

    <div class="footer-col-wrapper">
        {%- for person in orgs -%}


        <div class="footer-col" style="padding: 50px;">
            <center>
                <img src="{{ person.photo }}" width="128" height="128"></br>
                <b><a href="{{ person.profile }}">{{ person.name }}</a></b>
                <p>{{ person.position }} </br> {{ person.affiliation }}</p>
            </center>
        </div>

        {%- endfor -%}
    </div>

</div>